* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    background-color: #E0E5EB;
    width: 100%;
    height: 100vh;
}

.my_bio_container {

    display: flex;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.circle {

    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #EC563D;
}

.my_bio_left h1 {

    font-size: 96px;
    font-family: sans-serif;
    margin-top: 16px;
}

.my_bio_left p {

    font-size: 20px;
    font-family: sans-serif;
    margin-top: 27px;
    line-height: 1.6;

}

.my_bio_left button {

    padding: 10px 38px;
    color: white;
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 45px;
}

.my_bio_left {
    padding: 30px, 40px;
    margin-top: 125px;
    max-width: 515px;
}

.my_bio_right {

    background-image: url('https://assets.nicepagecdn.com/d2cc3eaa/324069/images/handsome-stylish.jpg ');
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 30px;

}

.intro_container h1 {
    font-size: 65px;
    margin-top: 21px;
    font-family: 'Alatsi', sans-serif;


}

.intro_container p {
    font-size: 24px;
    margin-top: 40px;
    line-height: 2;
    font-family: 'PT Sans', sans-serif;

}

.intro_container {

    text-align: center;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 75px;
    padding-top: 60px;
}

.intro_container .circle_2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #EC563D;

}

.intro_container button {

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 60px;
    background: none;
    padding: 10px 44px;
    border: 2px solid orangered;
}

.skills_container {

    text-align: center;
    background-color: #E0E5EB;
    padding-top: 60px;
    padding-bottom: 60px;

}

.skills_container h1 {

    font-size: 65px;
    font-family: 'Alatsi', sans-serif;
    margin-top: 60px;
    font-weight: 400;

}

.skills_container p {

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;

}

.design_container {
    background-color: white;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    padding: 30px;
    margin-top: 63px;
}

.design_container h3 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #70767E;

}

.design_container p {

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    margin-top: 63px;
    margin-bottom: 63px;

}

.design_container svg {

    width: 20px;
    height: 20px;
    margin: -20px;

    color: orangered;
}

.design_container li {

    list-style: none;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-left: 22px;
    padding-left: 6px;
    color: #808080;

}

.flex-card {
    display: flex;
    align-items: center;
}

.skills_container button {

    margin-top: 33px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    padding: 8px 33px;
    background: none;
    border: 2px solid black;

}

.web_design_container {

    background-color: white;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    padding: 30px;
    margin-top: 15px;

}

.web_design_container h3 {

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #858e99;

}

.experiences_container {

    background-image: url('https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/addc05149516556bbd091e47/3730262_73938.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: top;
    padding-bottom: 200px;

}

.experiences_container h2 {

    font-size: 48px;
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    color: #EC563D;

}

.experiences_container p {

    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
    color: #b3b3b3;

}

.flex_experiences {

    display: flex;
    margin-top: 60px;
    gap: 120px;


}

.flex_exp_left h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.flex_exp_left p {

    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'PT Sans', sans-serif;


}

.flex_exp_left {
    max-width: 420px;

}

.grid_exp_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    width: 710px;
    row-gap: 85px;

}

.grid_exp_card {
    display: flex;
    flex-direction: column;

}

.grid_exp_container h3 {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #EC563D;

}

.grid_exp_container p {

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 20px;
}

.inside_container_exp {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.contact_container {

    background-color: #292E33;
    padding-top: 90px;
    padding-bottom: 100px;

}

.flex_contact {

    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    gap: 90px;


}

.flex_left_contact h5 {

    font-size: 18px;
    color: #E0E5EB;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 5px;

}

.flex_left_contact h2 {

    margin-top: 20px;
    font-size: 65px;
    color: #fff;
    font-family: 'Alatsi', sans-serif;

}

.flex_left_contact p {

    margin: 20px 0px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    max-width: 480px;

}

.flex_right_contact input {

    background-color: white;
    padding: 10px 12px;
    width: 530px;
    height: 48px;

}
.flex_right_contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex_right_contact textarea{

    background-color: white;
    padding: 10px 12px;
    width: 530px;

}
.flex_right_contact button{

    padding: 10px;
    background: none;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border: 2px solid white;

}

.social_icons{
    display: flex;
    gap: 23px;
    color: white;
    font-size: 26px;
    margin-top: 60px;
    font-family: 'PT Sans', sans-serif;
    
}

footer{

    background-color: #333333;
    padding-top: 55px;
    padding-bottom: 160px;

}
footer p{

    text-align: center;
    margin-top: 49px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    

}